body {
  font-family: Verdana, sans-serif;
}

header{
  background-color: #ff6600;
  padding: 2pt 2pt 0pt 2pt;
}

nav {
  font-size: 10pt;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li{
  list-style: none;
  float: left;
  padding-left: 3pt;
}

a{
  text-decoration: none;
}

nav a{
  color: black;
}


#logo {
  border: 1px solid white;
  display: inline-block;
}
